<html>
  <body>
    <h1>Supernovae Magnitude predictor with Error estimates</h1>
    <div class="login">
       
   
       <form action="{{ url_for('predict_datapoint_witherr')}}" method="post", enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Enter Redshift</label>
            <input class="form-control" type="number" step = "any" name="zHD"
                placeholder="Enter redshift" min='0' max='3'
                value="{{ prev_input.zHD if prev_input and 'zHD' in prev_input else '' }}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Enter Stretch</label>
            <input class="form-control" type="number" step = "any" name="x1"
                placeholder="Enter stretch (x1)" min='-10' max='10' 
                value="{{ prev_input.x1 if prev_input and 'x1' in prev_input else '' }}"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Enter color</label>
            <input class="form-control" type="number" step = "any" name="c"
                placeholder="Enter color (c)" min='0' max='10'
                value="{{ prev_input.c if prev_input and 'c' in prev_input else '' }}" />
        </div>
        <select class="form-control" name="model">
    <option value="Best Model" {% if prev_input and prev_input.model == 'Best Model' %}selected{% endif %}>Best Model</option>
    <option value="Gaussian Process Regressor 1"{% if prev_input and prev_input.model == 'Gaussian Process Regressor 1' %}selected{% endif %}>Gaussian Process Regressor 1</option>
    <option value="Gaussian Process Regressor 2"{% if prev_input and prev_input.model == 'Gaussian Process Regressor 2' %}selected{% endif %}>Gaussian Process Regressor 2</option>
    <option value="Gaussian Process Regressor 3"{% if prev_input and prev_input.model == 'Gaussian Process Regressor 3' %}selected{% endif %}>Gaussian Process Regressor 3</option>
    <option value="Bayesian Ridge Regressor"{% if prev_input and prev_input.model == 'Bayesian Ridge Regressor' %}selected{% endif %}>Bayesian Ridge Regressor</option>

</select>
<h1>OR</h1>


    

            <fieldset>
            <legend>🔹 Batch Prediction</legend>
            <input type="file" name="file" accept=".csv">
            <p>CSV format: z,x1,c in columns</p>
        </fieldset>
                <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict magnitude mB" required />
        </div>
        </form>
<h2>Prediction is {{results[0][0]}} &plusmn; {{results[1][0]}}</h2>
  </body>
</html>
